<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<div class="wrapper">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Please login</h2>
        <input autofocus="" class="form-control" name="username" placeholder="UserId" required="" type="text"/>
        <input class="form-control" name="pwd" placeholder="Password" required="" type="password"/>
        <button class="btn-submit" type="submit">Login</button>
    </form>
</div>
</body>
</html>